.options-dialog form p {
  padding-inline: var(--small-gap-inline-size);
  padding-block-start: var(--large-gap-block-size);
}

.options-dialog label {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-block-size: 1.5em;
}

.options-dialog label span {
  flex: 1;
}

.options-dialog input,
.options-dialog select {
  margin-inline-start: var(--gap-inline-size);
}

.options-dialog input[disabled] {
  color: var(--disabled-button-color);
}

.options-dialog input[type="checkbox"] {
  inline-size: 2ch;
  block-size: 1em;
  accent-color: var(--accent-color);
  margin-inline: calc(var(--outline-width));
}

.options-dialog input[type="password"],
.options-dialog input[type="number"],
.options-dialog select {
  inline-size: min(10ch, 100%);
}
