.options-dialog label {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 1.75em;
}

.options-dialog input {
  margin-inline-start: var(--gap-width);
}

.options-dialog input[disabled] {
  color: var(--disabled-button-color);
}

.options-dialog input[type="checkbox"] {
  width: 2ch;
  height: 1em;
  accent-color: var(--accent-color);
  margin-inline: calc(var(--outline-width));
}

.options-dialog input[type="password"],
.options-dialog input[type="number"] {
  width: min(10ch, 100%);
}
