.button-bar {
  display: flex;
  flex-wrap: wrap;
}

.button-bar button {
  margin-inline-end: 4px;
  margin-block-end: 4px;
  padding: 8px;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
}

.button-bar button:not([disabled]) {
  cursor: pointer;
}
