.button-bar-bottom {
  justify-content: flex-end;
}

.button-bar.button-bar-bottom button {
  margin-inline-start: 4px;
  margin-inline-end: 0;
}

.button-bar.button-bar-bottom .button-group {
  margin-inline-start: 4px;
  margin-inline-end: 0;
}
