.downloads {
  min-block-size: 5dvh;
  overflow-block: auto;
  flex: 1;
}

.downloads ol,
.downloads li {
  flex-direction: column;
}

.downloads ol {
  row-gap: var(--gap-block-size);
}

.downloads li {
  row-gap: var(--small-gap-block-size);
  align-items: normal;
}

.downloads .download-entry {
  display: flex;
}

.downloads .download-entry-name {
  flex: 1;
}

.downloads li progress {
  inline-size: 100%;
  block-size: 1em;
  accent-color: var(--accent-color);
}
