.downloads {
  flex: 1;
  min-height: 5vh;
  overflow: auto;
}

.downloads li {
  display: flex;
  flex-direction: column;
  padding: 4px;
  padding-block-end: 8px;
}

.downloads .download-entry {
  display: flex;
}

.downloads .download-entry-name {
  flex: 1;
}

.downloads .download-entry-abort-button {
  padding-inline: 4px;
}

.downloads li progress {
  margin-block-start: 4px;
  width: 100%;
  height: 12px;
  accent-color: var(--accent-color);
}
