.downloads {
  min-block-size: 5dvh;
  overflow-y: auto;
  overflow-block: auto;
  flex: 1;
  scrollbar-color: var(--button-color) transparent;
}

.downloads ol,
.downloads li {
  flex-direction: column;
}

.downloads ol {
  row-gap: var(--gap-width);
}

.downloads li {
  row-gap: var(--small-gap-width);
  align-items: normal;
}

.downloads .download-entry {
  display: flex;
}

.downloads .download-entry-name {
  flex: 1;
}

.downloads li progress {
  width: 100%;
  block-size: 1em;
  accent-color: var(--accent-color);
}
