.entries {
  flex: 1;
  overflow: auto;
}

.entries li {
  display: flex;
  padding: 4px;
  user-select: none;
}

.entries li > * {
  margin-inline: 2px;
}

.entries .entry-select {
  accent-color: var(--bg-color);
  margin: 0;
  margin-inline: 4px;
  align-self: center;
  max-height: 1em;
}

.entries .entry-name {
  flex: 1;
  cursor: pointer;
}

.entries .entry-highlighted {
  background-color: var(--accent-color);
  color: var(--highlighted-text-color);
  outline: none;
}

.entries .directory .entry-name::after {
  content: "/";
  padding-inline: 2px;
}
