.entries {
  block-size: 55dvh;
  min-block-size: 10dvh;
  resize: vertical;
  box-sizing: border-box;
  padding-block-start: 0;
  margin-block-start: var(--gap-block-size);
}

.entries ol {
  flex-direction: column;
  row-gap: var(--list-item-gap-block-size);
}

.entries li {
  padding-block: var(--list-item-padding-block-size);
  padding-inline: var(--list-item-padding-inline-size);
  outline: none;
  column-gap: var(--gap-inline-size);
  cursor: pointer;
}

@supports (grid-template-columns: subgrid) {
  .entries ol {
    display: grid;
    grid-template-columns: auto min-content min-content;
    grid-template-rows: repeat(auto);
  }

  .entries li {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / 4;
  }
}

.entries .entry-select {
  accent-color: var(--dark-accent-color);
  margin: 0;
  padding: 0;
  max-block-size: 1em;
  margin-inline-start: var(--small-gap-inline-size);
}

.entries .entry-name {
  display: flex;
  user-select: none;
  overflow-x: hidden;
  overflow-inline: hidden;
  column-gap: var(--small-gap-inline-size);
  flex: 1;
  -webkit-tap-highlight-color: transparent;
}

.entries .entry-size {
  text-align: right;
  white-space: nowrap;
}

.entries .entry-highlighted {
  background-color: var(--accent-color);
  color: var(--highlighted-text-color);
}

.entries .entry-highlighted ::selection {
  background-color: var(--text-color);
  color: var(--bg-color);
}

.entries .directory .entry-name::after {
  content: var(--folder-separator);
}

@media (hover: hover) and (pointer: fine) {
  .entries ol {
    --no-entries-outline-width: 1px;
    --no-entries-outline-width-negative: calc(
      var(--no-entries-outline-width) * -1
    );
  }

  .entries ol:empty {
    block-size: 100%;
  }

  .entries ol:empty::after {
    display: flex;
    block-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    line-height: 1.5em;
    text-shadow: var(--no-entries-outline-width-negative)
        var(--no-entries-outline-width-negative) 0 var(--accent-color),
      var(--no-entries-outline-width-negative) 0 0 var(--accent-color),
      var(--no-entries-outline-width-negative) var(--no-entries-outline-width) 0
        var(--accent-color),
      0 var(--no-entries-outline-width-negative) 0 var(--accent-color),
      0 0 0 var(--accent-color),
      0 var(--no-entries-outline-width) 0 var(--accent-color),
      var(--no-entries-outline-width) var(--no-entries-outline-width-negative) 0
        var(--accent-color),
      var(--no-entries-outline-width) 0 0 var(--accent-color),
      var(--no-entries-outline-width) var(--no-entries-outline-width) 0
        var(--accent-color);
    color: var(--bg-color);
    opacity: 0.5;
  }

  .entries.dragging-items ol:empty::after {
    color: var(--accent-color);
    text-shadow: none;
  }

  .entries ol:empty::after {
    content: var(--message-drag-and-drop-entries);
  }
}
