.entries {
  block-size: 60vh;
  min-block-size: 5vh;
  resize: vertical;
  overflow: auto;
  box-sizing: border-box;
  scrollbar-color: var(--button-color) transparent;
}

.entries ol {
  flex-direction: column;
}

.entries li {
  padding: calc(var(--gap-width) / 2);
  outline: none;
  column-gap: var(--gap-width);
}

.entries .entry-select {
  accent-color: var(--checkbox-accent-color);
  margin: 0;
  padding: 0;
  max-block-size: 1em;
  margin-inline-start: calc(var(--gap-width) / 2);
}

.entries .entry-name {
  display: flex;
  user-select: none;
  overflow-x: hidden;
  overflow-inline: hidden;
  column-gap: calc(var(--gap-width) / 2);
  flex: 1;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.entries .entry-highlighted {
  background-color: var(--accent-color);
  color: var(--highlighted-text-color);
}

.entries .entry-highlighted ::selection {
  background-color: var(--text-color);
  color: var(--bg-color);
}

.entries .directory .entry-name::after {
  content: var(--directory-separator);
}

@media (hover: hover) and (pointer: fine) {
  .entries ol:empty {
    height: 100%;
  }

  .entries ol:empty::after {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 900;
    font-size: 2em;
    line-height: 1em;
    text-shadow: -0.5px -0.5px 0 var(--accent-color),
      -0.5px 0px 0 var(--accent-color), -0.5px 0.5px 0 var(--accent-color),
      0px -0.5px 0 var(--accent-color), 0px 0px 0 var(--accent-color),
      0px 0.5px 0 var(--accent-color), 0.5px -0.5px 0 var(--accent-color),
      0.5px 0px 0 var(--accent-color), 0.5px 0.5px 0 var(--accent-color);
    color: var(--bg-color);
    opacity: 0.5;
  }

  .entries.dragging-items ol:empty::after {
    color: var(--accent-color);
    text-shadow: none;
  }

  html[lang="en"] .entries ol:empty::after {
    content: var(--message-drag-and-drop-entries);
  }
}
