.info-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: .6em;
}

.source-link {
  display: inline;
  font-size: min(0.8em, 3.5vw);
  color: black;
  margin-inline-start: 4ch;
}

.icon {
  color: var(--button-color);
  opacity: 0.85;
  cursor: pointer;
}

.icon:hover {
  opacity: 1;
}

.info-bar input[type="color"] {
  inline-size: 2.25ch;
  block-size: 1.25em;
  padding: 0;
  border-width: 0;
  margin-inline-start: 1ch;
  filter: opacity(0);
}

@media (prefers-color-scheme: dark) {
  .source-link {
    color: white;
  }
}