.info-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0em;
  margin-block-end: 0.4em;
}

.info-bar .source-link {
  display: inline;
  font-size: 0.9em;
  color: var(--basic-text-color);
  margin-inline-start: 2ch;
}

.info-bar .icon {
  color: var(--accent-color);
  opacity: 0.85;
  cursor: pointer;
}

.info-bar .icon:hover {
  opacity: 1;
}

.info-bar input[type="color"] {
  inline-size: 2.25ch;
  block-size: 1.25em;
  padding: 0;
  border-width: 0;
  margin-inline-start: 1ch;
  filter: opacity(0);
  vertical-align: middle;
}

@media (max-width: 128ch) {
  .info-bar {
    margin-block-start: 0em;
  }
}

@supports (aspect-ratio: 1.75) {
  @media (max-aspect-ratio: 1.75) and (max-width: 128ch) {
    .info-bar {
      margin-block-start: 0.4em;
    }
  }
}

@media (max-width: 128ch), (display-mode: standalone) {
  .info-bar .source-link {
    font-size: 0.8em;
  }
}

@media (max-width: 64ch) {
  .info-bar .source-link {
    font-size: 0.8em;
  }
}

@media (max-width: 48ch) {
  .info-bar .source-link {
    font-size: 0.7em;
  }

  .info-bar input[type="color"] {
    inline-size: 1.25ch;
  }
}

@media (max-width: 40ch) {
  .info-bar .source-link {
    font-size: 0.6em;
  }

  .info-bar input[type="color"] {
    inline-size: 1ch;
  }
}
