.navigation-bar,
.history-buttons,
.breadcrumb {
  display: flex;
}

.navigation-bar,
.history-buttons {
  column-gap: var(--small-gap-width);
}

.history-buttons button {
  font-family: monospace;
  align-self: start;
  padding-inline: var(--small-button-padding-width);
  padding-block: var(--small-x2-button-padding-width);
  font-size: 1em;
  margin: var(--outline-width);
}

.history-buttons button:not([disabled]),
.breadcrumb .breadcrumb-item-active {
  cursor: pointer;
}

.breadcrumb,
.breadcrumb ol,
.breadcrumb li,
.breadcrumb .breadcrumb-item {
  overflow-x: hidden;
  overflow-inline: hidden;
}

.breadcrumb ol {
  flex-wrap: wrap;
  column-gap: calc(var(--small-gap-width) - var(--outline-width));
  row-gap: var(--small-gap-width);
}

.breadcrumb li {
  column-gap: var(--small-gap-width);
}

.breadcrumb li::after {
  content: var(--folder-separator);
}

.breadcrumb .breadcrumb-item {
  font-weight: var(--font-size);
  text-decoration: underline dotted transparent var(--large-border-width);
  text-underline-offset: 0.25em;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-tap-highlight-color: transparent;
  margin: var(--outline-width);
}

.breadcrumb .breadcrumb-item:focus-visible {
  text-decoration: none;
}

.breadcrumb li:last-of-type .breadcrumb-item {
  font-weight: var(--font-weight-bolder);
}

.breadcrumb .breadcrumb-item-active {
  text-decoration-color: var(--accent-color);
}

.breadcrumb .breadcrumb-item-active:hover {
  filter: brightness(var(--brightness-hover));
}
