.navigation-bar {
  display: flex;
  padding-block-end: 8px;
}

.history-buttons {
  display: flex;
}

.history-buttons button {
  font-family: monospace;
  margin-inline-end: 6px;
  padding-inline: 8px;
  align-self: start;
  height: 24px;
}

.history-buttons button:not([disabled]) {
  cursor: pointer;
}

.breadcrumb {
  display: inline-block;
  padding-block-end: 8px;
  margin-block-start: -2px;
  margin-block-end: -8px;
  overflow: hidden;
}

.breadcrumb ol {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb li {
  margin-inline-start: 2px;
  margin-block-start: 2px;
}

.breadcrumb li::after {
  content: "/";
  padding-inline-start: 3px;
  padding-inline-end: 1px;
}

.breadcrumb li .breadcrumb-item:first-of-type {
  padding-inline-start: 0;
}

.breadcrumb .breadcrumb-item {
  padding-block-end: 2px;
  opacity: 0.75;
  font-weight: 400;
  white-space: nowrap;
  text-decoration: underline dotted transparent 1.5px;
  text-underline-offset: 5px;
}

.breadcrumb .breadcrumb-item:focus-visible {
  outline-offset: -1px;
  text-decoration: none;
}

.breadcrumb li:last-of-type .breadcrumb-item {
  opacity: 1;
  font-weight: 500;
}

.breadcrumb li:hover .breadcrumb-item-active {
  opacity: 1;
}

.breadcrumb .breadcrumb-item-active {
  cursor: pointer;
  text-decoration-color: var(--accent-color);
}
