.navigation-bar {
  display: flex;
  column-gap: 0.75ch;
}

.history-buttons {
  display: flex;
  column-gap: 0.75ch;
}

.history-buttons button {
  font-family: monospace;
  padding-inline: 1ch;
  align-self: start;
  block-size: 1.9em;
  font-size: 1em;
}

.history-buttons button:not([disabled]) {
  cursor: pointer;
}

.breadcrumb {
  display: flex;
  overflow: hidden;
  margin-block-start: -0.05em;
  line-height: 1.35em;
}

.breadcrumb ol {
  flex-wrap: wrap;
  overflow: hidden;
  column-gap: 0.125ch;
}

.breadcrumb li {
  padding-block: 0.15em;
  padding-inline-start: 0.25ch;
  overflow: hidden;
  column-gap: 0.5ch;
}

.breadcrumb li::after {
  content: "/";
}

.breadcrumb .breadcrumb-item {
  opacity: 0.75;
  font-weight: 400;
  text-decoration: underline dotted transparent 0.1em;
  text-underline-offset: 0.25em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-tap-highlight-color: transparent;
}

.breadcrumb .breadcrumb-item:focus-visible {
  text-decoration: none;
}

.breadcrumb li:last-of-type .breadcrumb-item {
  opacity: 1;
  font-weight: 500;
}

.breadcrumb li:hover .breadcrumb-item-active {
  opacity: 1;
}

.breadcrumb .breadcrumb-item-active {
  cursor: pointer;
  text-decoration-color: var(--accent-color);
}

@media (max-width: 40ch) {
  .navigation-bar > * {
    font-size: 0.7em;
  }
}
