:root {
  --page-color: lightgray;
  --bg-color: white;
  --text-color: black;
  --highlighted-text-color: white;
  --button-color: white;
  --bg-button-color: var(--accent-color);
  --disabled-button-color: gray;
  --bg-disabled-button-color: white;
}

@supports (color: color-mix(in srgb, red 0%, red)) {
  :root {
    --page-color: color-mix(in srgb, var(--accent-color) 10%, lightgray);
    --bg-color: color-mix(in srgb, var(--accent-color) 10%, white);
    --text-color: color-mix(in srgb, var(--accent-color) 90%, black);
    --highlighted-text-color: color-mix(
      in srgb,
      var(--accent-color) 10%,
      white
    );
    --button-color: color-mix(in srgb, var(--accent-color) 50%, black);
    --bg-button-color: color-mix(in srgb, var(--accent-color) 50%, white);
    --disabled-button-color: color-mix(in srgb, var(--accent-color) 70%, white);
    --bg-disabled-button-color: color-mix(
      in srgb,
      var(--accent-color) 20%,
      white
    );
  }
}

body {
  font-weight: 400;
  background-color: var(--page-color);
  min-width: 360px;
  max-width: max(1024px, 75vw);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: solid var(--accent-color) 0.5px;
  user-select: none;
  background-color: var(--bg-button-color);
  color: var(--button-color);
  font-size: 0.8rem;
  white-space: nowrap;
}

button:disabled {
  color: var(--disabled-button-color);
  background-color: var(--bg-disabled-button-color);
  opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-color: dimgray;
    --bg-color: black;
    --text-color: gray;
    --highlighted-text-color: black;
    --button-color: black;
    --bg-button-color: var(--accent-color);
    --disabled-button-color: white;
    --bg-disabled-button-color: black;
  }

  @supports (color: color-mix(in srgb, red 0%, red)) {
    :root {
      --page-color: color-mix(in srgb, var(--accent-color) 10%, dimgray);
      --bg-color: color-mix(in srgb, var(--accent-color) 10%, black);
      --text-color: color-mix(in srgb, var(--accent-color) 90%, white);
      --highlighted-text-color: color-mix(
        in srgb,
        var(--accent-color) 10%,
        black
      );
      --button-color: color-mix(in srgb, var(--accent-color) 50%, white);
      --bg-button-color: color-mix(in srgb, var(--accent-color) 50%, black);
      --disabled-button-color: color-mix(
        in srgb,
        var(--accent-color) 50%,
        black
      );
      --bg-disabled-button-color: color-mix(
        in srgb,
        var(--accent-color) 20%,
        black
      );
    }
  }
}
