:root {
  --accent-color: gray;
  --page-color: color-mix(in srgb, var(--accent-color) 10%, lightgray);;
  --bg-color: color-mix(in srgb, var(--accent-color) 5%, white);
  --text-color: color-mix(in srgb, var(--accent-color) 90%, black);
  --highlighted-text-color: color-mix(in srgb, var(--accent-color) 10%, white);
  --button-color: color-mix(in srgb, var(--accent-color) 50%, black);
  --bg-button-color: color-mix(in srgb, var(--accent-color) 50%, white);
  --disabled-button-color: color-mix(in srgb, var(--accent-color) 50%, white);
  --bg-disabled-button-color: color-mix(in srgb, var(--accent-color) 10%, whitesmoke);;
}

body {
  font-weight: 400;
  background-color: var(--page-color);
  min-width: 360px;
  max-width: max(1024px, 75vw);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: solid var(--accent-color) .5px;
  user-select: none;
  background-color: var(--bg-button-color);
  color: var(--button-color);
  font-size: .8rem;
}

button:disabled {
  color: var(--disabled-button-color);
  background-color: var(--bg-disabled-button-color);
}

@media (prefers-color-scheme: dark) {
  html {
    filter: invert(1);
  }
}
