.button-bar,
.button-bar .button-group {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--gap-width);
}

.button-bar {
  column-gap: var(--gap-width);
}

.button-bar .button-group {
  column-gap: calc(var(--gap-width) * 0.5);
}

.button-bar button {
  block-size: fit-content;
  padding-block: calc(var(--button-padding-width) / 2);
  padding-inline: var(--button-padding-width);
  font-family: inherit;
  margin: var(--outline-width);
}

.button-bar button:not([disabled]) {
  cursor: pointer;
}
