.button-bar,
.button-bar .button-group {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--gap-width);
}

.button-bar {
  column-gap: var(--gap-width);
}

.button-bar .button-group {
  column-gap: var(--small-gap-width);
}

.button-bar button {
  font-family: inherit;
  margin: var(--outline-width);
}

.button-bar button:not([disabled]) {
  cursor: pointer;
}
