dialog::backdrop {
  background-color: var(--basic-bg-color);
  opacity: 0.85;
}

dialog {
  margin-block-start: min(10dvh, 5em);
  width: min(40ch, 75dvw);
  background-color: var(--page-color);
  color: var(--text-color);
  border: solid var(--accent-color) calc(var(--border-width) * 2);
  border-radius: var(--border-radius-width);
}

dialog input {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: solid var(--accent-color) var(--border-width);
  height: 1.8em;
  padding-inline: var(--gap-width);
  font-size: 1em;
  margin: var(--outline-width);
  border-radius: var(--border-radius-width);
}

dialog form,
dialog form p,
dialog label {
  display: flex;
  flex-direction: column;
}

dialog form,
dialog form p {
  row-gap: calc(var(--gap-width) * 2);
}

dialog form {
  max-height: 70dvh;
}

dialog form .dialog-title {
  font-weight: var(--font-weight-bolder);
  border-block-end: solid var(--accent-color) var(--border-width);
  padding-bottom: calc(var(--gap-width) * 2);
}

dialog form p {
  margin: 0;
  padding-block-start: calc(var(--gap-width) / 2);
  padding-block-end: calc(var(--gap-width) * 2);
  overflow: visible auto;
}

dialog label {
  row-gap: var(--gap-width);
  overflow: visible;
}

dialog .button-bar {
  margin-block-start: var(--gap-width);
}

dialog .button-group:first-of-type {
  flex: 1;
}
