dialog::backdrop {
  background-color: var(--basic-bg-color);
  opacity: 0.85;
}

dialog {
  margin-block-start: var(--dialog-margin-block-start);
  width: var(--dialog-width);
  background-color: var(--page-color);
  color: var(--text-color);
  border: solid var(--accent-color) var(--large-border-width);
  border-radius: var(--border-radius-width);
}

dialog input {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: solid var(--accent-color) var(--border-width);
  height: 1.8em;
  padding-inline: var(--gap-width);
  font-size: var(--font-size);
  margin: var(--outline-width);
  border-radius: var(--border-radius-width);
}

dialog form,
dialog form p,
dialog label {
  display: flex;
  flex-direction: column;
}

dialog form,
dialog form p {
  row-gap: var(--large-gap-width);
}

dialog form {
  max-height: var(--dialog-form-max-height);
}

dialog form .dialog-title {
  font-weight: var(--font-weight-bolder);
  border-block-end: solid var(--accent-color) var(--border-width);
  padding-bottom: var(--large-gap-width);
}

dialog form p {
  margin: 0;
  padding-block-start: var(--small-gap-width);
  padding-block-end: var(--large-gap-width);
  overflow: visible auto;
}

dialog label {
  row-gap: var(--gap-width);
  overflow: visible;
}

dialog .button-bar {
  margin-block-start: var(--gap-width);
}

dialog .button-group:first-of-type {
  flex: 1;
}
