dialog::backdrop {
  background-color: var(--basic-bg-color);
  opacity: 0.85;
}

dialog {
  margin-block-start: var(--dialog-margin-block-start);
  inline-size: var(--dialog-width);
  background-color: var(--page-color);
  color: var(--text-color);
  border: solid var(--accent-color) var(--large-border-width);
  border-radius: var(--border-radius-width);
  padding-inline: var(--large-gap-inline-size);
  padding-block: var(--large-gap-block-size);
}

dialog:focus {
  outline-width: 0;
}

dialog input,
dialog select {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: solid var(--accent-color) var(--border-width);
  block-size: 1.5em;
  padding-inline: var(--gap-inline-size);
  font-family: inherit;
  margin: var(--outline-width);
  border-radius: var(--border-radius-width);
  box-sizing: content-box;
  caret-color: var(--accent-color);
  align-self: baseline;
  inline-size: calc(
    100% - 2 *
      (var(--gap-inline-size) + var(--border-width) + var(--outline-width))
  );
  align-self: end;
}

dialog form,
dialog form p,
dialog label {
  display: flex;
  flex-direction: column;
}

dialog form,
dialog form p {
  row-gap: var(--large-gap-block-size);
}

dialog form {
  max-block-size: var(--dialog-form-max-block-size);
}

dialog form .dialog-title {
  font-weight: var(--font-weight-bolder);
  border-block-end: solid var(--accent-color) var(--border-width);
  padding-block-end: var(--large-gap-block-size);
}

dialog form p {
  margin: 0;
  padding-block-start: var(--small-gap-block-size);
  padding-block-end: var(--large-gap-block-size);
  overflow: visible auto;
}

dialog label {
  row-gap: var(--gap-block-size);
  overflow: visible;
}

dialog .button-bar {
  margin-block-start: var(--gap-block-size);
}

dialog .button-group:first-of-type {
  flex: 1;
}
