.list-item-button {
  font-family: monospace;
  cursor: pointer;
  opacity: 0.75;
  padding-inline: 4px;
  padding-block: 2px;
}

.list-item-button:hover {
  opacity: 1;
}

.list-item-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
