.list-item-button {
  font-family: monospace;
  cursor: pointer;
  padding-inline: 0.5ch;
  padding-block: 0.2em;
  user-select: none;
}

.list-item-button:hover {
  filter: brightness(0.75);
}

.list-item-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
