main {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 8px;
  margin-block-end: 0;
  border: solid var(--accent-color) 1px;
  block-size: calc(100dvh - 50px);
}

main > * {
  padding: 8px;
  border-block-end: solid var(--accent-color) 1px;
}

main > :last-child {
  border-block-end: none;
}

@media (max-width: 1024px), (display-mode: standalone) {
  main {
    margin: 0;
    border-width: 0;
    block-size: calc(100dvh - 40px);
  }

  main > :last-child {
    border-block-end: solid var(--accent-color) 1px;
  }
}
