main {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: .5em;
  margin-block-end: 0;
  border: solid var(--accent-color) .05em;
  block-size: calc(100dvh - 3.25em);
  min-block-size: 20em;
}

main > * {
  padding: .5em;
  border-block-end: solid var(--accent-color) .05em;
}

main > :last-child {
  border-block-end: none;
}

@media (max-width: 128ch), (display-mode: standalone) {
  main {
    margin: 0;
    border-width: 0;
    block-size: calc(100dvh - 2.5em);
  }

  main > :last-child {
    border-block-end: solid var(--accent-color) .05em;
  }
}
