body {
  font-weight: 400;
  background-color: lightgray;
  min-width: 360px;
  max-width: max(1024px, 75vw);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  user-select: none;
}
