body {
  font-weight: 400;
  background-color: lightgray;
  min-width: 360px;
  max-width: 1024px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  user-select: none;
}

.list-item-button {
  cursor: pointer;
  opacity: 0.75;
}

.list-item-button:hover {
  opacity: 1;
}

.list-item-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.application {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 20px);
  max-height: calc(100vh - 20px);
  margin: 8px;
  border: solid gray 1px;
}

.application > * {
  padding: 8px;
  padding-block-end: 4px;
  border-block-end: solid gray 1px;
}

.application > :last-child {
  border-block-end: none;
}

.button-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.button-bar button {
  margin-inline-end: 4px;
  margin-block-end: 4px;
  padding: 8px;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
}

.button-bar button:not([disabled]) {
  cursor: pointer;
}

.button-group {
  margin-inline-end: 4px;
}

.breadcrumb {
  display: inline-block;
  padding-block-end: 8px;
}

.breadcrumb li {
  display: inline-block;
  margin-block-end: 4px;
}

.breadcrumb li::after,
.entries .directory .entry-name::after {
  content: "/";
  padding-inline-start: 2px;
  padding-inline-end: 2px;
}

.breadcrumb li .breadcrumb-item:first-of-type {
  padding-inline-start: 0;
}

.breadcrumb .breadcrumb-item {
  padding-block-end: 2px;
  border-block-end: dotted transparent 2px;
  opacity: 0.75;
  font-weight: 400;
  white-space: nowrap;
}

.breadcrumb li:last-of-type .breadcrumb-item {
  opacity: 1;
  font-weight: 500;
}

.breadcrumb li:hover .breadcrumb-item-active {
  opacity: 1;
}

.breadcrumb .breadcrumb-item-active {
  cursor: pointer;
  border-block-end: dotted gray 2px;
}

.entries {
  flex: 1;
  overflow: auto;
}

.entries li {
  display: flex;
  padding: 4px;
  user-select: none;
}

.entries li > * {
  margin-inline-start: 2px;
  margin-inline-end: 2px;
}

.entries .entry-name {
  flex: 1;
  cursor: pointer;
}

.entries .entry-highlighted {
  background-color: gray;
  color: white;
}

.entries .entry-highlighted:focus {
  outline: none;
}

.button-bar-bottom {
  justify-content: flex-end;
}

.button-bar-bottom button {
  margin-inline-start: 4px;
  margin-inline-end: 0;
}

.button-bar-bottom .button-group {
  margin-inline-start: 4px;
  margin-inline-end: 0;
}

.downloads {
  height: 10vh;
  overflow: auto;
}

.downloads li {
  display: flex;
  flex-direction: column;
  padding: 4px;
  padding-block-end: 8px;
}

.downloads .download-entry {
  display: flex;
}

.downloads .download-entry-name {
  flex: 1;
}

.downloads li progress {
  width: 100%;
  height: 12px;
  accent-color: gray;
}

@media (prefers-color-scheme: dark) {
  html {
    filter: invert(1);
  }
}
