body {
  margin: 0;
  font-family: "Exo", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Exo";
  src: url("/assets/fonts/Exo-VariableFont_wght.ttf");
  font-display: swap;
}
