body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.source-link {
  text-align: center;
  color: black;
}

.icon {
  filter: brightness(0);
}

a,
a:visited {
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  .source-link {
    color: white;
  }

  .icon {
    filter: brightness(0) invert(1);
  }
}
